.Home {
  margin-top: 4rem;
  margin-bottom: 8rem;
}

.Home-intro {
  font-size: x-large;
}

.Home-projects {
  margin-top: 4rem;
}

.Home-projects-title {
  margin-bottom: 2rem;
}

/* BOOTSTRAP OVERRIDES */
.navbar {
  padding: 0 0 12px 0;
  justify-content: space-between;
}

.card-body {
  font-size: large;
}