.GlobalNav {
  margin-bottom: 4rem;
}

.Home-intro {
  font-size: x-large;
}

.Home-projects {
  margin-top: 4rem;
}

.Home-projects-title {
  margin-bottom: 2rem;
}

/* BOOTSTRAP OVERRIDES */
.card-body {
  font-size: large;
}

.container {
  margin-top: 4rem;
  margin-bottom: 8rem;
}

.navbar {
  padding: 0 0 12px 0;
  justify-content: space-between;
}

/* GLOBAL OVERRIDES */

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}